#gameCanvas {
  margin-top: 4em;
  
  /* text-align: center; */
  /* margin: auto;
  margin-left: 20%; */
}
#gameCanvasContainer {
  margin: auto;
  width: 600px;
}
html, body {
  height: 100%;
  width: 100%;
  background-color:#1b1f23;
}

.eraseButton {
  margin-left: 3em;
}

#canvasComponentContainer {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

#main-content-container {
  height: 100%;
  width: 100%;
}

.refImage {
  margin-top: 2em;
  height: 300px;
  width: 300px;
}

.gameTimer {
  color: #f8f9fa;
}

.resultImage{
  height: 300px;
  width: 300px;
}

.resultsContainer {
  width: 100%;
}

.infoList {
  font-size: 2em;
  margin-bottom: .5em;
}

.goToGameButton {
  margin-top: 1em;
  margin-left: 30%;
}

.welcomeMessage {
  margin-bottom: 1em;
}

.winnerLabel {
  width: 300px;
}